body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a001a; /* Dark purple */
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #2b0035;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #bb86fc;
}

.stats, .tasks {
    margin-top: 20px;
}

.points {
    font-size: 18px;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    border-bottom: 1px solid #442c4b;
    background-color: #38004d;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #664370;
    background-color: #2b0035;
    color: #fff;
}

.submit-btn {
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #3700b3;
}

.task-status {
    font-size: 14px;
    color: #ffcb6b;
}
